body{
  text-align: center;
}
.container{
  font-style: italic;
  display: inline-block;
  margin-top: 100px;

}

#ti{
  font-size: larger;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-style:normal;
  
}

.container > div {
  display: inline-block;
  padding: 15px;
  margin: 50px;
  border-radius: 3px;
  background-color: aqua;

}
.container > div >span {
  border-radius: 5px;
  background-color: beige;
  padding: auto;
  margin: auto;
}